#headerNav {
    margin-top: 36px;
    display: flex;
    align-items: center;
    margin-inline: 150px;
}

#logoNavbar {
    width: 293px;
    height: 105px;
}

#menuSection a {
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
}
.servicios{
    margin-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
}
.servicios:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.servicios:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

#menuSection a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#menuSection a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#menuSection {
    display: flex;
    align-items: center;
}

#headerNav {
    display: flex;
    justify-content: space-between;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 3px;
    width: 35px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 10px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#logoMenuSection{
    display: none;
}
#logoNavbar2{
    display: none;
}
@media(max-width: 1661px) {
    #headerNav {
        margin-inline: 120px;
    }
}

@media(max-width: 1441px) {
    #headerNav {
        margin-inline: 80px;
    }
    .dropdown-btn{
        margin-left: 0;
    }
    #logoNavbar {
        width: 243px;
        height: 87px;
    }

    #menuSection a {
        margin-left: 70px;
    }

}

@media(max-width:667px) {
    #logoNavbar {
    width: 230px;
    height: 82.5px;
}
    #menu-toggle~#menuSection a {
       /* height: 0; */
    /* margin: 0; */
    /* padding: 0; */
    /* border: 0; */
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    margin-top: -150px;
    }
    .dropdown{
        
        margin-top: -250px; 
    }
    .dropdown-btn{
        margin-top: 7em !important;
        margin-left: 0 !important;
        
        
    }
    
    .dropdown.open .dropdown-menu{
        margin-left: 0 !important;
    }
    #menu-toggle:checked~#menuSection {
        /* margin-top: 50px; */
        height: 100%;
        background-color: black;
        justify-content: flex-start;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logoRss{
        display: none !important;
    }
    #menu-toggle:checked~#menuSection a {
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    margin-top: 6em;
    }

    .menu-button-container {
        display: flex;
        margin-right: -15px;
        z-index: 99999;
    }

    #menuSection {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    #menuSection>a {
        display: flex;
        /* justify-content: center; */
        margin: 0;
        /* padding: 0.5em 0; */
        /* width: 100%; */
        color: white;
        /* background-color: rgba(18, 17, 80, 100%);*/
    }
    
    #menuSection a {
        font-size: 20px;
    }
    #logoMenuSection{
        display: flex;
        width: 250x;
        height: 89px;
    }

    #headerNav {
        margin-inline: 30px;
    }
    #logoNavbar{
        display: none;
    }
    #logoNavbar2{
        display: flex;
        width: 100px;
        height: 89px;
    }
}